@inherits LayoutComponentBase

<div class="px-5 vh-100 d-flex flex-column">


    <div class="bg-dark text-white text-center p-3">
        <NavLink class="text-decoration-none text-white" href="/">Menu</NavLink> |
        <NavLink class="text-decoration-none text-white" href="ProdutosIncluir">Incluir Produtos</NavLink> |
        <NavLink class="text-decoration-none text-white" href="ProdutosListar">Listar Produtos</NavLink> |
        <NavLink class="text-decoration-none text-white" href="ProdutosAlterar">Alterar Produtos</NavLink> |
        <NavLink class="text-decoration-none text-white" href="ProdutosExcluir">Excluir Produtos</NavLink> 
    </div>

    <div class="py-3 h-100">
        @Body
    </div>

    <div class="bg-dark text-white text-center p-3">
        Rodapé
    </div>
    
</div>
 