@page  "/"

<h1 class="text-center p-5">
    Bem Vindo!
</h1>

<div class="text-center">
    Está é uma aplicação básica focada em entender as capacidades do BLAZOR para Front-End! <br />
    Apesar de simples, o intuito era estudar e praticar o desenvolvimento. <br /> 
    A aplicação conta com uma simulação de 'Lista de Produtos' envolvendo um CRUD básico separados em componentes independentes. <br />
    A barra superior permite navegar entre as páginas e executar as devidas ações desenvolvidas. <br /><br /> 
    Obs: como o foco era exclusivamente compreender as capacidades do Blazor para o Front-end, <br /> a API desenvolvida não interage com um 
    banco de dados real, simulando somente em memória a execução. 
</div>

@code {

}